//Like the breakpoint and util this is a default color styling that can be imported into the other css sheets.
//It allows me to use names that are associated to corresponding colours
$primary-color: #0c5d88;
$primary-color-2: #0c2d3e;
$secondary-color: #0db4d5;
$secondary-color-2: white;