// @import tags to add default css styles and rules created on their own pages
@import "../defaults/breakpoint";
@import "../defaults/color";
@import "../components/footer";
@import "../components/header";

//main tag allows me to apply rules to the entire main section on my page.
main {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: $secondary-color-2;
    text-align: center;
    background-color: $primary-color;

    // section tag gives rules for the text within the blog page
    section {
        display: flex;
        flex-direction: column;
        align-content: center;
        color: $secondary-color-2;
        text-align: center;
        margin: 100px;
    }

    // media screen tag again to set specific rules for different devices/screen sizes
    @media screen and (max-width: 350px) {
        section {
            width: 50vw;
        }
    }
}